<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error :(</title>
  <style>
    h1 {
        color: #fff;
    }
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 50px;
      background-color: #000;
    }
    .error-message {
      color: red;
    }
    .link-to-home {
        text-decoration: none;
        color: orange;
    }
    .link-to-home:hover {
        text-decoration: underline;
    }
  </style>
</head>
<body>
  <h1>Error :(</h1>
  <p class="error-message"><%= errorMessage %></p>
  <a class="link-to-home" href="http://localhost:5173/">Back Home</a>
</body>
</html>
